@use '@angular/material' as mat;
/* You can add global styles to this file, and also import other style files */




// Include non-theme styles for core.
@include mat.core();

$mat-custom-theme:  (
  50: #ffebee,
  100: #ffcdd2,
  200: #ef9a9a,
  300: #e57373,
  400: #ef5350,
  500: #e1234e,
  600: #e53935,
  700: #d32f2f,
  800: #c62828,
  900: #b71c1c,
  A100: #ff8a80,
  A200: #ff5252,
  A400: #ff1744,
  A700: #d50000,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: white,
    A400: white,
    A700: white,
  )
);


// Define a theme.
$primary: mat.define-palette($mat-custom-theme);
$accent:  mat.define-palette(mat.$pink-palette, A200, A100, A400);

$theme: mat.define-light-theme($primary, $accent);

// Include all theme styles for the components.
@include mat.all-component-themes($theme);


.spinner-container {
  position: fixed;
  height: 300px;
  width: 345px;
  display: flex;
  background: white;
  z-index: 1;
  opacity: 0.5;
  justify-content: center;
  max-width: 350px;
  margin: 70px auto 0 auto;
}
